<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div class="container">
        <h1>Please fill out the form below to determine your postage rate: </h1>
        
        <form method="post"  action="/postage-rate">
            <label for="weight">Weight of the object ( in oz. ):</label><br>
            <input type="text" id="weight" name="weight"><br><br>
                <label for="type">specify the type of mail:</label><br>
                <select name="type" id="type">
                    <option disabled selected>Mail Type</option>
                    <option value= "1">Letters (Stamped)</option>
                    <option value= "2">Letters (Metered)</option>
                    <option value= "3">Large Envelopes (Flats)</option>
                    <option value= "4">First-Class Package Service-Retail</option>
                </select>
                <br>
                <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>